---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Victor Javier">
  <main>
    <section>
      <img src="/avatar.jpg" alt="Foto de perfil de Victor Javier" />
      <div>
        <h2>Sobre mi</h2>

        <p>
          Soy un desarrollador web fullstack y un apacionado por el
          conocimiento, la tecnología y el aprendizaje.
        </p>
        <p>
          Actualmente me encuentro estudiando la carrera de ingeniería en
          informática, en la Univeridad de La Matanza
        </p>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    padding: 2rem;
    max-width: 60ch;
    margin: 0 auto;
  }

  section {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
</style>
